<div class="card-item" data-controller="time-card">
  <div class="image-container">
    <%= image_tag time_travel.img_url, alt: "tangdynasty", class: "image"  %>
    <div class="caption" data-action="mouseover->time-card#changeTextOn mouseout->time-card#changeTextOff">
      <h4 data-time-card-target="name"><%= time_travel.name %></h4>
      <h5 class="card-trip-pricing hidden" data-time-card-target="description"><%= time_travel.short_description %></h5>
    </div>
  </div>
  <% if current_user && (current_user.time_travels.include?(time_travel)) %>
    <div class="quick-fix">
      <%= link_to "Activate", "https://openprocessing.org/sketch/632969", class: "glow-on-hover"%>
      <%= link_to "Delete", "#", class: "glow-on-hover", style: "background-color: red" %>
    </div>
  <% elsif current_user %>
    <%= link_to "Portal", time_travel_path(time_travel), class: "glow-on-hover"%>
  <% end %>
</div>
