<h1>time travel</h1>
<h2><%= @time_travel.name %></h2>
<h4><%= @time_travel.location %></h4>
<h4><%= @time_travel.period_of_time %></h4>
<p><%= @time_travel.short_description %></p>
<%= @time_travel.detailed_description %>




<%= link_to "back to home page", root_path %>

<%= link_to "back to time travels", time_travels_path %>
